{
  "CN": "kubernetes",
  "hosts": [
  {% for host in groups['tag_Node_etcd'] %}
    "{{host}}",
  {% endfor %}
  {% for host in groups['tag_Node_kubeM'] %}
    "{{host}}",
  {% endfor %}
  {% for host in groups['tag_Node_worker'] %}
    "{{host}}",
  {% endfor %}
  "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Portland",
      "O": "Kubernetes",
      "OU": "Cluster",
      "ST": "Oregon"
    }
  ]
}
